.sidebar {
  flex: 0.3;
  border-right: 1px solid #366880;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a4e57;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 999;
}

.sidebar__chat {
  cursor: pointer;
}

.header__icon {
  display: flex;
  align-items: center;
}

.add__icon {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.signout__icon {
  cursor: pointer;
}

.selected {
  background-color: #50606b;
}

.chat__icon {
  margin-right: 1rem;
}

.chat__listItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  padding: 0.5rem;
  cursor: pointer;
}

.chat__listInfo {
  display: flex;
  align-items: center;
}

.link:hover,
.link:focus,
.link:acitve {
  color: inherit;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .sidebar {
    flex: 1;
    border: none;
  }
  .sidebar__header {
    position: fixed;
  }
}
