body {
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.section {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  height: 5px;
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
